:host {
  display: block;
}

.bona-form {
  display: flex;
  flex-direction: column;
  gap: var(--bona-space-4);
}

.bona-form__fields {
  display: flex;
  flex-direction: column;
  gap: var(--bona-space-4);
}

.bona-form__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--bona-space-2);

  &--start {
    justify-content: flex-start;
  }

  &:not(:has(*)) {
    display: none;
  }
}
